.product-img {
  height: 350px;         
  width: 100%;             
  object-fit: cover;       
  border-top-left-radius: 0.5rem;  
  border-top-right-radius: 0.5rem;
}

.navbar .navbar-brand {
    font-size: 1.5rem;  
}

.navbar .nav-link, 
.navbar .dropdown-item {
    font-size: 1.1rem;  
}

